@using GameStore.Models
@{
	ViewData["Title"] = "Edit Game";
}
@model Game
@section Scripts{
	<script src="~/js/editgamescript.js"></script>
}

<div class="container">
	<form class="row g-3 needs-validation mt-3" method="post" asp-action="UpdateGame" enctype="multipart/form-data" novalidate>
		<div class="col-md-4">
			<label for="GameNameValidation" class="form-label">Game Name</label>
			<input type="text" class="form-control" id="GameNameValidation" name="GameName" value="@Model.GameName" required>
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>
		<input type="hidden" class="form-control" id="PriceValidation" name="GameId" value="@Model.GameId" required>
		<div class="col-md-4">
			<label for="PriceValidation" class="form-label">Price</label>
			<input type="text" class="form-control" id="PriceValidation" name="GamePrice" value="@Model.GamePrice" required>
			<div class="invalid-feedback">
				Please provide a valid Price.
			</div>
		</div>
		<div class="col-md-4">
			<label for="CategoryValidation" class="form-label">Category</label>
			<select class="form-select" id="CategoryValidation" name="GameCategoryID" required>
				@foreach (var item in ViewBag.Categories)
				{
					@if (Model.GameCategoryId == item.CategoryId)
					{
						<option value="@item.CategoryId" selected>@item.CategoryName</option>
					}
					else
					{
						<option value="@item.CategoryId">@item.CategoryName</option>
					}
				}
			</select>
			<div class="invalid-feedback">
				Please select a valid Category.
			</div>
		</div>
		<div class="input-group col-md-8">
			<span class="input-group-text">Game Description</span>
			<textarea class="form-control" aria-label="Game Description" name="GameDescription">@Model.GameDescription</textarea>
		</div>
		<div class="col-md-4">
			<label for="PublisherValidation" class="form-label">Game Publisher</label>
			<input type="text" class="form-control" id="PublisherValidation" name="GamePublisher" value="@Model.GamePublisher" required>
			<div class="invalid-feedback">
				Please provide a valid Publisher.
			</div>
		</div>
		<div class="col-md-4">
			<label for="DeveloperValidation" class="form-label">Game Developer</label>
			<input type="text" class="form-control" id="DeveloperValidation" name="GameDeveloper" value="@Model.GameDeveloper" required>
			<div class="invalid-feedback">
				Please provide a valid Developer.
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<label for="inlineCheckbox1" class="form-label">Supported operating systems</label>
				@{
					bool w = false;
					bool l = false;
					bool m = false;
				}
				<div>
					@foreach (var item in ViewBag.osystems)
					{
						if (item.OsystemName == "Windows")
						{
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Windows" name="Windows" checked>
								<label class="form-check-label" for="inlineCheckbox2">Windows</label>
							</div>
							w = true;

						}
						if (item.OsystemName == "Linux")
						{
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Linux" name="Linux" checked>
								<label class="form-check-label" for="inlineCheckbox2">Linux</label>
							</div>
							l = true;
						}
						if (item.OsystemName == "MacOS")
						{
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="MacOS" name="MacOS" checked>
								<label class="form-check-label" for="inlineCheckbox2">MacOS</label>
							</div>
							m = true;
						}
					}
					@if (w == false)
					{
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Windows" name="Windows">
							<label class="form-check-label" for="inlineCheckbox2">Windows</label>
						</div>
					}
					@if (l == false)
					{
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Linux" name="Linux">
							<label class="form-check-label" for="inlineCheckbox2">Linux</label>
						</div>
					}

					@if (m == false)
					{
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="MacOS" name="MacOS">
							<label class="form-check-label" for="inlineCheckbox2">MacOS</label>
						</div>
					}
				</div>
			</div>
		</div>

		<!--
		<div class="mb-3">
			<label for="formFile" class="form-label">Import Cover Image</label>
			<input class="form-control" type="file" id="formFile" name="formFile" required>
			<div class="invalid-feedback">
				Please select an Image.
			</div>
		</div>
		<div class="mb-3">
			<label for="formFileMultiple" class="form-label">Import Game Content Images</label>
			<input class="form-control" type="file" id="formFileMultiple" name="formFiles" multiple required>
			<div class="invalid-feedback">
				Please select an Image.
			</div>
		</div>
		-->


		<div class="col-12">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
				<label class="form-check-label" for="invalidCheck">
					Agree to terms and conditions
				</label>
				<div class="invalid-feedback">
					You must agree before submitting.
				</div>
			</div>
		</div>
		<div class="col-12">
			<button class="btn btn-primary mb-3" type="submit" style="float:right">Save Game</button>
		</div>
	</form>
</div>