@using GameStore.Models
@model Game
@{
	ViewBag.Title = @Model.GameName;
}

@section Styles{
	<style>
		#realcarouselExampleIndicators {
			max-width: 750px !important;
			max-height: 400px !important;
		}
	</style>
}

	<div class="container">
		<div id="realcarouselExampleIndicators" class="mx-auto mt-3">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					@{
					int counter = 0;
				}
				@foreach (var item in ViewBag.ContentImages)
				{
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@counter" class="@(counter == 0 ? "active" : "")" aria-current="@(counter == 0 ? "true" : "")" aria-label="Slide @(counter+1)"></button>
					counter++;
				}
			</div>
			<div class="carousel-inner">
				@{
					int counter2 = 0;
				}
				@foreach (var item in ViewBag.ContentImages)
				{
					<div class="carousel-item @(counter2 == 0 ? "active" : "")">
						<img src="~/@item.ContentImagePath" class="d-block w-100 mx-auto" alt="...">
					</div>
					counter2++;
				}
			</div>
			<button class="carousel-control-prev ccbccb" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next ccbccb" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<div>
			<div class="d-flex justify-content-between mt-3">
				<div>
					<h1>@Model.GameName</h1>
				</div>

				<div class="ms-auto">
					<h2 class="text-lg">@Model.GamePrice.ToString("0.00")$</h2>
				</div>
			</div>
			<div class="d-flex">
				<div style="word-wrap:break-word; max-width: 70%;">
					<p>@Model.GameDescription</p>
				</div>
				<div class="ms-auto">
					@{
						if (ViewBag.userGames == null)
						{
							<a type="button" href="/BuyGame/@Model.GameId" class="btn btn-primary" )><h5>Buy Game</h5> </a>
						}
						else
						{
							<a type="button" asp-action="ListLibrary" class="btn btn-primary" )><h5> Library </h5> </a>
						}
					}

				</div>
			</div>
		</div>
	</div>
</div>
