@using GameStore.Models
@{
	ViewData["Title"] = "Discover Games";
}
@model List<Game>
@section HeadSection{
	<link href="~/css/indexstyle.css" rel="stylesheet" />
}

<div class="container">

	@if (@ViewBag.UserName != null)
	{
		<h2 class="text-center mt-2">
			Welcome <span id="span_UserName">@ViewBag.UserName</span>
		</h2>
	}

	<h2 class="mt-2 mb-4 text-center">
		Discover Games
	</h2>
	
	<div class="row mt-2">
		@foreach (var item in Model)
		{
			<div class="col-md-6 col-lg-4 mb-3">
				<div class="card">
					<a href="/Game/@item.GameId" style="text-decoration:none; color:black">

						<img src="@item.GameCoverImagePath" class="card-img-top img-fluid rounded">

						<div class="card-body">
							<h4 class="card-title text-center">@item.GameName</h4>
							<h5 class="card-subtitle text-center">@item.GamePrice.ToString("0.00")$</h5>
							<p class="card-text">@item.GameDescription</p>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>