@using GameStore.Models
@{
	ViewData["Title"] = "Home Page";
}
@model List<Game>


<div class="container">

	@if (@ViewBag.UserName != null)
	{
		<h1>
			Welcome @ViewBag.UserName
			Welcome @ViewBag.Email
		</h1>
	}

	<h1 class="mt-2 mb-2 text-center">
		Discover Games
	</h1>

	<div class="row mt-2">
		@foreach (var item in Model)
		{
			<div class="col-md-6 col-lg-4 mb-3">
				<div class="card">
					<a href="/Game/@item.GameId" style="text-decoration:none; color:black">

						<img src="@item.GameCoverImagePath" class="card-img-top img-fluid rounded">

						<div class="card-body">
							<h5 class="card-title text-center">@item.GameName</h5>
							<p class="card-subtitle">@item.GamePrice.ToString("0.00")$</p>
							<p class="card-text">@item.GameDescription</p>
						</div>
					</a>
				</div>
			</div>
		}
	</div>

</div>